<html>
  
  <head>
    <h2>This ERB template will be used to test user input.</h2>
  </head>
  
  <body>
    
    <form action="/" method="POST">
      <select>
        <option value = "Manhattan">Manhattan</option>
      </select>
      <br><br>
      Main Street:    <input type="text" name="main_st" value="<%=@main%>">  <br><br>
      From Street:    <input type="text" name="from_st" value="<%=@from%>">  <br><br>
      To Street:      <input type="text" name="to_st" value="<%=@to%>">    <br><br>
      Side of Street: <input type="text" name="side_st" value="<%=@side%>">  <br><br><br>
      
      <input type="submit" value="Submit">
  </form>

  <br><br>

  <div><b>Regulation String</b>:<br><%=@regulation_str%>.</div>

  </body>

</html>