<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>NYC Street Sweep</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Load CSS style sheets. -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <!-- Code used to display Google Map via ERB. -->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
      <%= @map_javascript %>
    </script>

  </head>

  <body>
    <section class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">NYC Street Sweep</a>
          <div class="nav-collapse collapse"></div>
        </div>
      </div>
    </section>

    <section class="container">

      <!-- Header layout for website. -->
      <section class="intro">
        <h3>NYC Street Sweep</h3>
        <p id="quote"><br><em>A real patriot is the fellow who gets a parking ticket and rejoices that the system works.</em><br>~Bill Vaughan~<br></p>
        <p>Sounds like none of us are real patriots... :-)</p>
      </section>

      <!-- Create three column layout for website. -->
      <div class="row">

        <section class="span4">
          
          <div id="col_padding">
            <h3>Where did you park?</h3>
          </div>

          <div>

            <form action="/" method="POST">

              <select>
                <option value = "Manhattan">Manhattan</option>
              </select>
              <br><br>
              Main Street*    <br><input type="text" name="main_st" value="<%=@main%>">  <br><br>
              From Street*    <br><input type="text" name="from_st" value="<%=@from%>">  <br><br>
              To Street*      <br><input type="text" name="to_st"   value="<%=@to%>">    <br><br>
              Side of Street* <br><input type="text" name="side_st" value="<%=@side%>">  <br><br>
              Phone Number    <br><input type="text" name="text"    value="<%=@text%>">  <br><br>
              Twitter Handle  <br><input type="text" name="tweet"   value="<%=@tweet%>"> <br><br>
              
              <input type="submit" value="Submit">
              
          </div>

        </form>

        </section>

        <section class="span4">
          <h3 class="col_head">Street Sweeping Regulation</h3>
          <br>
          <p><br><em><%=@regulation_str%></em></p>
          </br>
          <img id="fake-ticket" src="./img/fake-ticket.jpg" alt="Fake ticket">
        </section>

        <section class="span4">
          <div id="col_padding">
            <h3>Your Block</h3>
          </div>
          <div id="map-canvas" style="height: 500px; width: 400px"></div>
        </section>

      </div>

    </section>

    <footer class="footer">
        <p>&copy; Team StreetSweep - <a href="http://flatironschool.com" target="_blank">Flatiron School</a>, Summer 2013</p>
        <p>Alicia Chang, Carlos Lazo, David Rodriguez, Matt Schmaus</p>
      </footer>

    <script src="/js/jquery.js"></script>
  </body>
</html>
