<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>NYC Street Sweep</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>

    <script>
      <%= @map_javascript %>
    </script>

  </head>

  <body>
    <section class="navbar navbar-inverse navbar-fixed-top">

      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">NYC Street Sweep</a>
          <div class="nav-collapse collapse">
            <!-- <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul> -->
           <!--  <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>

    </section>

    <section class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <section class="intro">
        <h3>NYC Street Sweep</h3>
        <p id="quote"><br><em>A real patriot is the fellow who gets a parking ticket and rejoices that the system works.</em><br>~Bill Vaughan~<br></p>
        <p>Sounds like none of us are real patriots...</p>
       <!--  <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p> -->
      </section>

      <!-- Example row of columns -->
      <div class="row">

        <section class="span4">
          <h3 class="col_head">Where did you park?</h3>

          <div>
          
          <form action="/" method="POST">
            <select>
              <option value = "Manhattan">Manhattan</option>
            </select>
            <br><br>
            Main Street*    <br><input type="text" name="main_st" value="<%=@main%>">  <br><br>
            From Street*    <br><input type="text" name="from_st" value="<%=@from%>">  <br><br>
            To Street*      <br><input type="text" name="to_st"   value="<%=@to%>">    <br><br>
            Side of Street* <br><input type="text" name="side_st" value="<%=@side%>">  <br><br>
            Phone Number    <br><input type="text" name="text"    value="<%=@text%>">  <br><br>
            Twitter Handle  <br><input type="text" name="tweet"   value="<%=@tweet%>"> <br><br>
            
            <input type="submit" value="Submit">
            
          </div>
        </form>


        </section>

        <section class="span4">
          <h3 class="col_head">Street Sweeping Regulation</h3>
          <br>
          <p><br><em><%=@regulation_str%></em></p>
          </br>
          <img id="fake-ticket" src="./img/fake-ticket.jpg" alt="Fake ticket">
          
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
       </section>

        <section class="span4">
          <h3 class="col_head">Your Block</h3>
          <div id="col_padding"></div>
          <div id="map-canvas" style="height: 500px; width: 400px"></div>
          <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
        </section>

      </div>

      <hr>

    </section> <!-- /container -->

    <footer class="footer">
        <p>&copy; Team Blue - <a href="http://flatironschool.com" target="_blank">Flatiron School</a>, Summer '13</p>
      </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
  </body>
</html>
